* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

/* body {
  height: 100vh;
  margin: 0;

} */

.main {
  min-height: 100vh;
  min-width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  /* min-height: 300px;
  min-width: 400px; */
  
  height: 300px;
  padding: 10px;
  outline: 2px solid white;
  border: 1px solid rgb(214, 241, 102); /* Color from old CSS */
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items :end; */
  /* overflow: scroll; */
}

.user-details input {
  padding: 2px 5px;
  margin: 10px 0;
  background-color: rgb(24, 24, 24);
  color: white;
  border: 1px solid yellowgreen;
  outline: none;
  caret-color: transparent;
}

.user-card {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.user-card img {
  object-fit: contain;
  margin-right: 10px;
}

.name {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
}

.name input {
  margin-right: 10px;
}

@media screen and (max-width: 720px) {
  .name {
    flex-wrap: wrap;
    
  }
  
}

button {
  background-color: transparent;
  color: white;
  margin: 10px 0;
  padding: 10px;
  outline: none;
  border: 1px solid greenyellow;
  width: 100%;
}

button:hover {
  background-color: rgba(31, 30, 30, 0.67); /* Change background color on hover */
}

.card-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
}